
@media(min-width:1600px){
    .container{
        max-width: 1527px;
    }
}
.just_center{
    display: flex;
    justify-content: center;
}

.banner_type1{
    background-image: url('../images/baner1bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}
h1{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
}
h2{ 
    color: #fff; 
    font-family:'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.banner_type1_description{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #054E9C;
    padding-top: 30px;
    .line{
        width: 120px;
        height: 1px;
        background-color: #054E9C;
        margin-bottom: 20px;
    }
}
.for_footer{
    background: none;
    background-color: #054E9C;
    height: auto;
    padding: 90px 0;
    .container{
        max-width: none !important;
    }
}
.for_footer .container .row .second_row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first_view{
    position: relative;
    // background-image: url('../images/fbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
    height: calc(100vh - 76px);
}
.main_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
 
    &_img{
        overflow: hidden;
        position: relative;
        width: 100%;
        height:calc(100vh - 75px);
    }
    img{
        width: 1920px;
        height: 1000px;
        object-fit: cover;
        object-position: top right;
        right: 0;
        position: absolute;
    }
}
    .first_view_wrap{
        padding-top: 76px;
    }
    .first_view_content_wrap{
        max-width: 650px;
        padding: 17px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
    }
    .first_view_content{
        display: flex;
        width: 100%;
        align-items: top;
        border: 4px solid rgba(1, 78, 159,0.7);
        padding: 50px 30px;
    }
        .first_view_content_text{
            margin-left: 30px;
            p{
                font-size: 20px;
                line-height: 29px;
                color: #003772;
                font-family: 'Istok Web';
            }
        }
        .first_view_content_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 290px;
            height: 60px;
            background: #FFFFFF;
            border-radius: 40px;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #054E9C;
            transition: all 0.3s;
        }
.sm_news{
    display: flex;
    &_dsc{ 
        font-family: 'Istok Web';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        color: rgba(0, 55, 114, 0.8);
        margin: 26px 0;
    }
    &_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #003772;
    }
    
}
.blue_btn{
    background: #054E9C;
    box-shadow: 6px 6px 40px rgba(0, 55, 114, 0.35);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    height: 50px;
    transition: all 0.3s;
}
.sm_news_text{
    padding-top: 30px;
    padding-left: 20px;
}
.first_view{
    position: relative;
}
.circ_main,.circ_1,.circ_2{
    position: absolute;
    animation: scaleround 5s infinite ;
}
.circ_main{
    position: absolute;
    right: 200px;
    top: 400px;
}
.circ_1{
    right: 995px;
    top: 125px;
}
.circ_2{
    right: 340px;
    top: 125px;
}
.new_services{
    background: none;
    height: auto;
}
.sm_news_img{
    max-width: 40%;
    img{
        width: 100%;
    }
}
.sm_news_text{
    max-width: 58%;
}
// .circ_main{
//     position: absolute;
//     right: 200px;
//     bottom: 460px;
// }
// .circ_1{
//     right: 905px;
//     top: 107px;
// }
// .circ_2{
//     right: 307px;
//     top: 114px;
// }
.new_services{
    margin-top: -14vh;
    padding-bottom: 130px;
    .cards_wrap{
        background-color: #fff;
        padding: 30px;
        border-radius: 4px;

    }
}
.sm_news_home{
    padding: 130px 0;
}

.tv_links{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}
.tv_link{
    width: 33.333333%;
    height: 200px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: rgba(229, 244, 251, 0.6);
    border-radius: 1px;
    border-right: 1px solid rgba(15, 68, 117,0.3);
    p{
        margin-top: 10px;
        font-family: 'Istok Web';
        font-size: 20px;
        line-height: 29px;
        color: #003772;
        margin-bottom: 0;
    }
}
.tv{
    height: 1100px;
}
.tv .container .content .text .buttons{
    max-width: none;
    justify-content: center;
    >*:first-child{
        margin-right: 20px;
    }
}


@keyframes scaleround {
    0%   {transform: scale(1.05)}
  25%  {
    transform: scale(1.2);
    }
  50%  { transform: scale(1.05);}
  75%  { transform: scale(1.2);}
  100% { transform: scale(1.05);}
  }


.blue_btn:hover,.first_view_content_btn:hover{
    box-shadow: 6px 6px 40px rgba(255, 196, 0, 0.35);
    background: #ffc400;
    color: #fff;
    text-decoration: none;
}
.first_view_content{
    position: relative;
    z-index: 20;
}


// services 

.banner_type_2{
    height: auto;
    background-image: url("../images/tbbg.png");
    background-color: #003772;
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 70%;
        background-image: url('../images/aft.png');
        background-size: 100% 100%;
        z-index: 1;
    }
    .text{
        margin-left: 50px;
    }
}
.banner_type_2 .content{
    z-index: 2;
    position: relative;
}
.services_hero .container .content{
    justify-content: flex-start;
    margin: 0;
    align-items: center;

}
.banner_type_2_wrap{
    padding-top: 76px;
}
.services_hero .container .content .text{
    max-width: 630px;
}
.line_center{
    margin: 0 auto;
    display: block;
    width: 33px;
    margin-bottom: 70px;
}
.services_slider{
    padding-top: 35px;
}
.slick-dots{
    li{
        opacity: 0.4;
    }
    li.slick-active{
        opacity: 1;
    }
}
.slick-prev, .slick-next{
    background-image: url('../images/arbl.svg') !important;
    background-size: contain;
    width: 25px;
    height: 50px;
    &::before{
        display: none;
    }
}
.slick-prev{
    background-image: url('../images/arbl2.svg') !important;
    left: -50px;

}
.slick-next{
    right: -50px;
}
.table_1_row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    >div:nth-child(1){
        width: 14%;
    }
    >div:nth-child(2){
        width: 85%;
        font-weight: bold;
    }
    td:nth-child(1){
        width: 30%;
    }
    td:nth-child(2){
        width: 30%;
    }
    td:nth-child(3){
        width: 20%;
        font-weight: bold;

    }
    td:nth-child(4){
        width: 20%;
    }
    td{
        border: 1px solid rgba(0, 145, 217, 0.2);
            padding: 10px 3%;
            border-bottom: 1px solid rgba(0, 145, 217, 0.2);
            font-size: 20px;
            line-height: 29px;
            color: #003772;
            font-family: 'Istok Web';
            margin-bottom: 0;
    }
}
.table_1_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.table_1_header{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    padding: 15px;
    width: 100%;
    color: #fff;
    background-color: #054E9C;
}
.table_1{
    background-color: #fff;
}
td{
    border: 1px solid red;
}
.table_link{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 145, 217, 0.33);
    border-radius: 2px;
    font-size: 30px;
    line-height: 35px;
    color: #054E9C;
    background-image: url('../images/min.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;
    border:none;
    margin-top: 15px;

    &:hover{
        background-color: #fff;
        color: #054E9C;
        box-shadow: none;
    }
    &:active{
    
            background-color: #fff !important;
            color: #054E9C !important;
        
    }
}
.table_link[aria-expanded='false']{
    background-image: url('../images/plus.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;
}
.table_wrap{
    margin-top: 35px;
}
.services_table .container .text .title{
    max-width: none;
    font-size: 43px;
    line-height: 50px;
}
.services_table .container .text{
    display: block;
    margin-bottom: 50px;
}
.sub_titl{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    margin-top: 10px;
    /* identical to box height */
    
    
    color: #054E9C;
}
.services_table{
    padding-bottom: 100px;
}
.butt,.phone_form{
    border: none;
    &:focus{
        outline: none;
    }
}

.services_slider .container .slider_services .slick-dots{
    width: auto;
    left: 50%;
    transform: translate(-50%,0);
}

.first_view_content_wrap{
    position: relative;
    z-index: 10;
}
.cards{
    cursor: pointer;
}
 .slick-dots{
    bottom: -60px !important;
}

.services_slider .container .slider_services .cards .buttons{
    margin-bottom: 20px;
}

.temp_sl{
    margin-bottom: 0 !important;
}
.banner_bg_2{
    background-image: url('../images/ccc.png');

}
.banner_type_2{
    background-size: auto 100%;
    background-position: right top;
}

.video_serv .container .slider_services .cards .text{
    margin-left: 0;
}


.card .img,.card_news .img{
    border-radius: 40px !important;
}

  .line_down {
    &_1 {
      top: 0px;
      animation: pulsate1 1s infinite linear;
    }
    &_2 {
      top: 20px;
      animation: pulsate1 1s infinite linear;
      animation-delay: 0.3s;
    }
    &_3 {
      top: 40px;
      animation: pulsate1 1s infinite linear;
      animation-delay: 0.7s;
    }
  }
  
  @keyframes pulsate1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }
  }
  .news .container .slider-content .slick-arrow{
      background-size: 15px;
  }
.payment .banner_type1{
    background-image: url('../images/pbg.png');
    .container{
        display: flex;
        align-items: center;
        h1{
            margin-left: 30px;
            max-width: 900px;
        }
    }
}
.news_ban{
    background-image: url('../images/newbg.png');
}
// media

@media(max-width:1599.9px){
    .first_view,.main_bg_img{
        height: 1000px;
    }
    .new_services .cards_wrap{
        padding: 20px 10px;
    }
    .new_services{
        margin-top: -100px;
    }
    .row .cards img{
        right: 15px !important;
    }
    .sm_news_title{
        font-size: 35px;
        line-height: 38px;
    }
    .row .cards .link{
        font-size: 22px;
        line-height: 130%;
    }
    .first_view_content_wrap{
        max-width: 550px;
    }
    h2{
        font-size: 35px;
    }
    .first_view_content_btn{
        width: 100%;
        height: 50px;
    }
    .banner_type_2:after{
        width: 80%;
    }
    .services_hero .container .content .text .title{
        font-size: 55px;
        line-height: 130%;
    }
    .banner_type_2{
        padding: 80px 0;
    }
  }
  @media(max-width:1450px){
    .row .cards .link{
        font-size: 20px;
    }
    .services_slider .container .slider_services{
        padding:  0 65px;
    }
    .slick-next{
        right: -15px;
    }
    .slick-prev{
        left: -15px;
    }
    .services_slider .container .slider_services .cards .title{
        font-size: 40px;
        line-height: 130%;
    }
  }
  @media(max-width:1199.9px){
    .circ_main, .circ_1, .circ_2{
        display: none;
    }
    .main_bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        position: static;
  }
  .main_bg_img{
      height: 100%;
  }
  .first_view{
      height: auto;
      padding: 200px 0;
  }
  .new_services .cards_wrap{
      background-color: transparent;
      padding: 0;
  }
  .tv_link_img{
      max-width: 80%;
      img{
        width: 100%;
      }
  }
  .banner_type_2:after{
      background-image: none;
      background-color: #003772;
      width: 100%;
      opacity: 0.3;
  }
  .services_slider .container .slider_services .cards .title{
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
  }
  .table_1_row td{
      font-size: 16px;
  }
  .services_slider{
    padding-bottom: 80px;
}
}
@media(max-width:991.9px){
    .sm_news{
        flex-wrap: wrap;
        &_text{
            width: 100%;
            max-width: 100%;
        }
        &_img{
            margin: 0 auto;
            max-width: 90%;
            margin-bottom: 30px;
        }
    }

    .first_view{
        h2{
            font-size: 24px;
        }
    }
    .first_view_content_btn{
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .first_view_content_text p{
        font-size: 16px;
    }
    .tv .container .content .text .buttons > *:first-child{
        margin-right: 0;
    }
    .tv_link{
        width: 100%;
        height: auto;
        border-bottom: 1px solid rgba(15, 68, 117, 0.3);
        border-right: none;
    }
    .tv_links{
        flex-wrap: wrap;
    }
    .tv{
        height: 1300px;
    }
    .first_view_content_img{
        max-width: 35%;
        img{
            width: 100%;
        }
    }
    .for_footer .container .row .third_row{
        margin-top: 20px;
    }
    .table_1_header{
        font-size: 17px;
    }
    .table_1_row td{
        font-size: 12px;
    }
   .banner_type_2 .butt{
       margin-top: 20px !important;
   }
}
@media(max-width:767.9px){
    .table_1_row,.table_1_header{
        width: 700px;
    }
    .table_1{
        overflow: scroll;
    }
    .services_hero .container .content .text{
        width: 100%;
        margin-left: 0;
    }
    .banner_type_2_img{
        display: none;
    }
    .services_slider .container .slider_services .cards{
        flex-direction: column;
    }
    .services_slider .container .slider_services .cards .text{
        margin-top: 30px;
    }
    .services_slider .container .slider_services .cards .title{
        font-size: 24px;
    }
    .services_slider .container .slider_services .cards .description{
        font-size: 14px;
        line-height: 140%;
    }
    .services_table .container .text .title{
        font-size: 25px;
        line-height: 130%;
    }
    .table_link{
        font-size: 20px;
        line-height: 130%;
    }
    .line_down_a{
        display: none;
    }
    .video_serv   .cards{
        &>div:first-child{
            order: 2;
        }
        &>div:last-child{
            order: 1;
        }
    }
}
@media(max-width:575.9px){
    .services_hero .container .content .text .title{
        font-size: 30px;
    }
    .services_hero .container .content .text .line{
        margin-top: 15px;
    }
    .services_hero .container .content .text .quote{
        font-size: 15px;
        line-height: 130%;
    }
    .services_hero .container .content .text form .phone_form{
        width: 100%;
        margin-right: 0;
        height: 45px;
    }
    .first_view_content{
        flex-direction: column;
        align-items: center;
        padding:20px;
        .first_view_content_img{
            max-width:100px;
            margin-bottom: 20px;
        }
    }
    .first_view_content_text{
        margin-left: 0;
    }
    .first_view,.sm_news_home{
        padding: 50px 0;
    }
    .new_services{
        margin-top: 0;
    }
    .blue_btn{
       width: 100%;
    }
    .sm_news_title{
        font-size: 22px;
        line-height: 130%;
        
    }
    .sm_news_text{
        padding: 0;
    }
    .services_slider .container .slider_services .cards .buttons{
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: none;
    }
    .services_slider .container .slider_services .cards .text{
        margin-left: 0;
    }
    .services_slider .container .slider_services{
        padding: 0 20px;
    }
    .slick-next,.slick-prev{
        top: 150px;
        width: 12px;
        height: 24px;
    }
    .slick-next{
        right: -10px;
    }
    .slick-prev{
        left: -10px;
    }
}